body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding: 5%;

}
.half-width img{
    width:650px;
    height: 410px;
}
.link-btn{
    text-decoration: none;
    background-image: linear-gradient(to bottom right,orange,tomato);
    padding: 10px 30px;
    border-radius: 5px;
}

.corner {
    background-color: orange;
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
    margin: -50px;
}
.vitto {
    background-color: orange;
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 50%;
    left: 60%;
    top: 10%;
}
.background-man{
background-color: orange;
    width: 500px;
    height:500px;
    position: absolute;
    border-radius: 50%;
    right: 8%;
    top: 7%;
    z-index: -10;
}

.snd{
width: 50%;
}
.snd img{
    width: 500px;
}
.vitto2{
    width: 200px;
    height: 200px;
   background-color: white;
   border: 80px solid orange;
   border-radius: 50%;
   position: relative;
   left: 550px;
   top: -270px;
   z-index: -10;
}
.experience-area{

}
.experience-item{
    box-shadow: 0px 2px 10px ;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
border-radius: 5px;
height: auto;
width: 100%;
}
#web{
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 4;
    border-left:7px solid ;
}
#web1{
    border-image: linear-gradient(rgb(255, 145, 0),rgb(238, 255, 0));
    border-image-slice: 4;
    border-left:7px solid ;
}

footer p{
    text-align: center;
}